{% extends 'base.html' %}

{% block body %}

<p>환영합니다.</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {% for question in questions %}
      <tr>
        <th scope="row">{{ question.id }}</th>
        <td><a href="{% url 'eithers:detail' question.id %}">{{ question.title }}</a></td>
        <td>{{ question.answer_set.count }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}